@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.wrapper {
    display: grid;
    /*grid-template-columns: repeat(2,1fr);  */
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    margin: auto;


}

.lang {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
}

.level {
    vertical-align: middle;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #41739f;
    display: inline-block;
}

.level_up {
    vertical-align: middle;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    display: inline-block;
}
.left-wrap {
    border: 1px solid rgba(31,94,166,0.97);
    padding: 10px;
    background: #1f5ea6;
    color: white;
    /*border-radius: 10px;*/
}

.left-wrap a:hover {
    text-decoration: underline;
}

.left-wrap h2 {
    background: rgba(15,58,97,0.97);
    padding: 20px 20px;
    margin: auto;
    border: 2px solid darkblue;
    border-radius: 15px;

}
 a {
    color: white;
     text-decoration: none;
}
img {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
}
.right-wrap {
    border: 1px solid rgba(31,94,166,0.97);
    padding: 10px;
    background: #f1f1f1;
}

.prog {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.data {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.footer{
    max-width: 950px;
    margin: auto;
    border: 1px solid rgba(31,94,166,0.97);
    background: rgba(125,166,155,0.97);
}
.footer h2 {
    text-align: center;
}
.footer textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #86898f;
    border-radius: 10px;
    background: transparent;
    color: #000;
    padding: 15px 0 10px;
    font-family: inherit;
}

.footer input{
    width: 80%;
    background: transparent;
    border: 1px solid #86898f;
    border-radius: 10px;
    padding: 10px;
}
.footer label{
    padding: 10px;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.btn {
    background: rgba(16,59,99,0.97);
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}
.btn:hover {
    opacity: .2;
}

